<style>
    :root {
        /* Primary theme color 
        --primary-color: rgb(140, 199, 63, 1.0);
	--primary-color:  #0072d8;*/
	--primary-color: #0167aa;

        /* Primary theme text color */
        /*--primary-text-color: white;*/
        --primary-text-color: #ffffff;

        /* Primary theme link color */
        --primary-link-color: hsl(42, 94%, 42%);
        /* Secondary color: the background body color */
        --secondary-color: #eeeeee;
	--secondary-text-color: #5d5e61;

	--drogue-yellow:  #ffda00;
	--drogue-red:  #ef1920;
	--drogue-blue:  #0072d8;
	--drogue-green:  #8cc73f;

        /* Highlight text color of table of content */
        --toc-highlight-text-color: #d46e13;
    }
</style>
