<style>
    :root {
        /* Primary theme color */
        --primary-color: #8cc73f;
        /* Primary theme text color */
        --primary-text-color: #fffbe5; /*white;*/
        /* Primary theme link color */
        --primary-link-color: #F9BB2D;
        /* Secondary color: the background body color */
        --secondary-color: #fffbe5; 
        --secondary-text-color: black; /*#303030;*/
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #d46e13;
    }
</style>
