{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "_variables.html" %}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&amp;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path="juice.css") }}">
    <link rel="icon" type="image/svg+xml" href="{{ get_url(path='/favicon.svg', trailing_slash=false) | safe  }}">
    {% block head %}
    {% endblock head %}

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Drogue IoT",
            "legalName": "Drogue IoT",
            "description": "IoT for the kicks",
            "url": "https://www.drogue.io",
            "logo": "https://drogue.io/rodney.svg"
        }
    </script>

</head>

<body>
    {% block header %}

    <header class="header">
        {{ macros::render_header() }}
    </header>

    <div class="hero">
        {% block hero %}
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <img class="hero-image" style="max-width: 15%" src="{{ get_url(path="rodney.svg") }}">
        <section class="text-center">
            <h1 class="heading-text" style="font-size: 50px">
                Bringing together devices and applications in IoT
            </h1>
            <h3 class="title-text">
                <b>Drogue IoT</b> gives you the platform and tools to create safe, efficient and scalable IoT solutions. From the device on up to the cloud.
            </h3>
        </section>

        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
        {% endblock hero %}
    </div>

    <div class="text gettingstarted">
            <a class="gettingstartedbtn" href="https://book.drogue.io/drogue-cloud/dev/use-cases/index.html">
            <button class="bigbutton">Use Cases</button>
            </a>
            <a class="gettingstartedbtn" href="https://book.drogue.io/drogue-workshops/index.html">
            <button class="bigbutton">Get Started</button>
            </a>
    </div>

    <div class="feature_overview primary">
        <div class="feature_wrapper evenly text primary">
            <div class="feature_item">
                <img src="lock-closed-outline.svg" class="feature_item_icon" />
                <div class="feature_text">
                    <h4>Secure &amp; scalable</h4>
                    <p>Secure connectivity for a massive number of devices<p>
                </div>
            </div>
            <div class="feature_item">
                <img src="cog-outline.svg" class="feature_item_icon" />
                <div class="feature_text">
                    <h4>IoT friendly APIs</h4>
                    <p>Offers your devices IoT friendly APIs on the cloud side using well known
		    protocols in the industry.</p>
                </div>
            </div>
            <div class="feature_item">
                <img src="extension-puzzle-outline.svg" class="feature_item_icon" />
                <div class="feature_text">
                    <h4>Ready for integration</h4>
                    <p>RESTful management APIs, Apache Kafka, CloudEvents and third party providers</p>
                </div>
            </div>
            <div class="feature_item">
                <img src="hardware-chip-outline.svg" class="feature_item_icon" />
                <div class="feature_text">
                    <h4>Hardware</h4>
                    <p>Bring your own hardware and firmware, or use next generation tooling to write safe and efficient firmware</p>
                </div>
            </div>
        </div>
    </div>


    {% endblock header %}
    <!--
    <div class="explore-more text"
        onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
        Explore More ⇩
    </div> --
      -->

    <main>
        <!--{% block toc %}
        {% if section.toc %}
        {% set toc = section.toc %}
        {% elif page.toc %}
        {% set toc = page.toc %}
        {% endif %}
        {% if toc %}
        <div class="toc">
            <div class="toc-sticky">
                {% for h in toc %}
                <div class="toc-item">
                    <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
                </div>
                {% if h.children %}
                {% for h2 in h.children %}
                <div class="toc-item-child">
                    <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endblock toc %}
          -->

        <div class="content">
            {% block content %}
            {{ section.content | safe }}
            {% endblock content %}
        </div>

        {% block sidebar %}
        {% endblock %}
    </main>

    {% block footer %}
    <footer>
        <small class="subtext">
            <a href="https://redhat.com">Red Hat</a> © 2021
        </small>
    </footer>
    {% endblock footer %}
</body>
<script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        document.querySelector(".toc a[href$='" + pathname + "#" + heading + "']").classList.add("active");
    }

    let currentHeading = "";
    window.onscroll = function () {
        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
</script>

</html>
